<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx_S7FNrCJX1vaW6KHyMg8vpmKKZkkOjk</string>
	<key>GCM_SENDER_ID</key>
	<string>795677731634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vKommerce</string>
	<key>PROJECT_ID</key>
	<string>v-kommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>v-kommerce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795677731634:ios:c2de0b3506916dd1ad052b</string>
</dict>
</plist>